
body{
    background-image: url("./flower.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

table{
    border:solid 2px black;
    background-color: white;
    padding: 5px;
}

td{
    border:solid 2px black;
    padding:5px;

}

a{
    text-decoration: none;
    color:black;
    text-shadow: 1px 1px;
    font-weight:800;  
    text-decoration: none;
    transition:0.3s;
    padding: 1%;
}

a:hover{
    color:wheat;
    font-size:25px;
    transition:0.3s;
    background-color:black;
}

nav{
    background-color:wheat;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

h2{
    text-align: center;
    color: white;
}

p{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

@media only screen and (max-width:1000px){
    nav{
        background-color:wheat;
        width: 50%;
        margin-right: 0;
        margin-left: 90px;
        text-align: center;
    } 
}

footer{
    background-color:wheat;
    grid-column: 1/11;
    grid-row: 11/11;
    text-align: center; 
}