
body{
    background-image: url("./flower.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: (20, 1fr);
    grid-template-rows: (20, 1fr);
    height: 100vh;
}

.heading{
    grid-column: 1/20;
    grid-row: 1/1;
    color:white;
    text-align: center;
    font-size: 50px;
}

.navigation{
    grid-column: 1/20;
    grid-row: 2/2;
    background-color:wheat;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px;
    transition:0.3s;
    font-weight: 600;
    padding: 1%;
}

a:hover{
    color: wheat;
    font-size:20px;
    transition:0.3s;
    background-color: black;
}

.bil{
    background-color: white;
    width: 100px;
    padding: 10px;
    margin-left: 200px;
}

.surfplatta{
    background-color: white;
    width: 100px;
    padding: 10px;
    margin-left: 200px;
}

.mobil{
    background-color: white;
    width: 100px;
    padding: 10px;
    margin-left: 200px;
}

.product1{
    display: grid;
    grid-column: 1/10;
    grid-row: 3/3;
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.product2{
    display: grid;
    grid-column: 10/20;
    grid-row: 3/3;
   width:100%;
   
}

.product3{
    display: grid;
    grid-column: 1/10;
    grid-row: 4/4;
    width:100%;
}

.product4{
    display: grid;
    grid-column:10/20 ;
    grid-row:4/4 ;
    background-color:lightgrey;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.product5{
    display: grid;
    grid-column:1/10 ;
    grid-row:5/5 ;
    background-color: lightskyblue;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.product6{
    display: grid;
    grid-column: 10/20;
    grid-row: 5/5;
    width:100%;
}

@media only screen and (max-width:1000px){
    .heading{
        display: grid;
       grid-column: 1/20;
       grid-row: 1/1;
       padding:5% ;
       }
       .navigation{
        display: grid;
        grid-column: 1/20;
        grid-row: 2/2;
        padding:5% ;
        background-color:wheat;
        width: 50%;
        margin-right: 0;
        margin-left: 90px;
        text-align: center;
        }
        .product1{
            display: grid;
            grid-column: 1/20;
            grid-row: 3/3;
            }
        
            .product2{
            display: grid;
            grid-column: 1/20;
            grid-row: 4/4;
            }
        
            .product3{
             display: grid;
            grid-column: 1/20;
            grid-row: 5/5;
            }
        
            .product4{
            display: grid;
            grid-column: 1/20;
            grid-row: 6/6;
            }

            .product5{
                display: grid;
                grid-column: 1/20;
                grid-row: 7/7;
                }

                .product6{
                    display: grid;
                    grid-column: 1/20;
                    grid-row: 8/8;
                    }
    } 

    footer{
        background-color:wheat;
        grid-column: 1/20;
        grid-row: 20/20;
        text-align: center;
    }




